@import './Board.css';
@import './index.css';

.Row {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: inherit;
    width: calc(8 * var(--square-size));
    height: var(--square-size);
}