@import './index.css';

.Square {
    /* Nothing in here so far */
}

.White {
    background: var(--square-white);
    color: var(--square-black);
}

.Black {
    background: var(--square-black);
    color: var(--square-white);
}

.Piece {
    width: 100%;
    height: 100%;
    outline: 2px red solid;
    z-index: 2;
}