@import './index.css';

.Square {
    width: var(--square-size);
    height: var(--square-size);
}

.white {
    background: rgb(var(--square-white));
    color: rgb(var(--square-black));
}

.black {
    background: rgb(var(--square-black));
    color: rgb(var(--square-white));
}

.piece {
    width: 100%;
    height: 100%;
}

.highlighted {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}